---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import dogboy from "../assets/dogboy.jpg";

const meta = {
	title: "About",
	description: "Coder. Creative. Curious.",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hey, my name is Dani and I have alot of hobbies -- one of them is coding.
        </p>
        <p>
        These days I'm mostly livestreaming myself working on silly projects. I love learning in public, I learn a lot from the folks that interact in my stream and it also gives me space to learn new things, dive deep and have fun. I hope that anybody that stops in for the folks that are newer to programming - they can be inspired to approach their own learning with less fear; and for the more experienced folks, I hope they can have fun on a journey with me! 
		</p>

<br/>
		<div class="flex justify-center">
        <figure>
		    <figcaption>Unrelated photo of my dog being cute!</figcaption>
            <Image
				src={dogboy}
				alt="My dog looking up at me with his face smushed on top of the couch"
                title="Unrelated photo of my dog being cute"
				loading="eager"
			/>
        </figure>
		</div>
        <h2 class="title">Other Interests</h2>
		<p>Some of my interests (honestly too many to list):</p>
		<ul class="list-inside list-disc">
			<li>Video Games</li>
			<li>Politics</li>
			<li>Dogs</li>
			<li>Drawing</li>
			<li>Fitness</li>
		</ul>
	</div>
</PageLayout>
