---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutimg from "../assets/about-astro.png";

const meta = {
	title: "Under construction",
	description: "This page is under construction",
};
---
<PageLayout meta={meta}>
	<h1 class="title mb-6"> Working on it! </h1>
    <p class="mb-8"> This page is under construction </p>
	<p class="mb-8">Please use the navigation to find your way back</p>
    <div class="my-4 grid justify-center">
		<Image
			class="rotate-180"
			src={aboutimg}
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
		/>
	</div>

</PageLayout>

